*{margin: 0;
padding: 0;
box-sizing:border-box;
font-family: sans-serif;
color:white;}

html,
body{
  height:100%;
  width:100%;
}

.light{
  display:flex;
  background-color: lightseagreen;
  padding: 14px 20px;
  align-items: center;
  justify-content:space-between;
  
}
.dark{
  display:flex;
  padding: 14px 20px;
  align-items: center;
  justify-content:space-between;
  background-color: darkslategray;
}
.nav2{
  display: flex;
  gap: 30px;
}